// Customizations Here (Optional)

$primary: #62C4CA;
$warning: hsl(0, 0%, 86%);

// Bulma Import
@import '~bulma';
// Icons
@import '~material-design-icons/iconfont/material-icons.css';



.spin {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.push {
    margin-left: auto;
}

.pop {
    margin-right: auto;
}


.translation-widget {
    @media (max-width: 580px) {
        margin: 0 10px;

        .button{
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            font-size: 0.85rem;
        }
    }
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .box {
        border: 1px solid #999;
    }

    .xbox {
        text-align: left;
    }

    .actions {
        margin-top: 4rem;        
        @media (max-width: 580px) {
            margin-top: 0rem;
        }

        button {
            margin-top: 1.5rem;
            @media (max-width: 580px) {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }
    }

    .voice {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .clickable {
        cursor: pointer;
    }
    .disclaimer{
        font-size: 0.8em;
        margin-top: 3rem;
        margin-bottom: 3rem;
        @media (max-width: 580px) {
            font-size: 0.8em;
        }
    }

    .textarea[disabled] {
        color: #363636;
    }
    .textarea[readonly] {
        background: #fafafa;
    }

    

}